*, *::after, *::before {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #E4C1AE;
  --accent-color-dark: #C18869;
  --light-color: #FFFFFF;
  --dark-color: #121212;
  --medium-color: rgb(177, 177, 177);
}

img {
  max-width: 100%;
}

.hero-section {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
  max-width: 1440px;
}

.hero-section__content {
  width: 90%;
  margin: 0 auto;
}

.hero-section__title {
  font-size: 2rem;
  margin: 2rem 0;
}

.hero-section__description {
  line-height: 1.5rem;
}

.hero-section__button {
  cursor: pointer;

  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--light-color);

  border: none;
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  border-radius: 2rem;

  transition: .3s;
}

.hero-section__button:active {
  background-color: var(--accent-color-dark);

  transform: scale(.8);
}

@media (min-width: 783px) {
  .hero-section {
    display: flex;
    gap: 4rem;

    margin: 4rem;
  }

  .hero-section__content {
    width: 100%;
  }
}

.modal {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;
}

.modal__content {
  cursor: auto;
  /* pointer-events: none; */

  background-color: var(--light-color);
  padding: 3rem;
  width: 70%;

  position: relative;
}

.modal__title {
  margin: 2rem 0;
  margin-top: 0;
  font-size: 2rem;
  
}

.modal__exit {
  cursor: pointer;
  pointer-events: all;

  font-size: 2rem;

  position: absolute;
  right: 1rem;
  top: 0;
}

.modal__counter {
  font-weight: 700;
}

.modal__button {
  cursor: pointer;

  font-family: Roboto, 'sans-serif';
  font-weight: 700;
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);

  padding: .25rem;
  margin-top: 1rem;
}

.modal__button:active {
  background-color: var(--medium-color);
}

.disabled {
  display: none;
}